<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assg-5.css">
</head>
<body>
    <div class="img-top"></div>
    <h1>Animals are there young ones.</h1>
    <div>
        <p class="prg" id="pg1">Bears are mammals that belong to the family Ursidae.The young one of a bear is called a cub.Bears are one of the most intelligent land animals in North America. They have the largest and most complex brains in comparison to other land mammals their size and they rely on this brain for a number of behaviors.</p>
        <p class="prg" id="pg2">Camels are mammals with long legs, a big-lipped snout and a humped back. The young one of a camel is called a calf.Their humps let them store up to 80 pounds of fat which they can live off for weeks and even months! When a camel finally does find water, he can drink up to 40 gallons in one go. Camels are very strong and can carry up to 900 pounds for 25 miles a day.</p>
        <p class="prg" id="pg3">I think Cheetahs are the most beautiful animals l have ever seen and its young one is called a cub.The cheetah is the world's fastest land animal. They can run as fast as a car on the interstate—up to 70 mph. And they can reach that speed in just 3 seconds! ... A cheetah's claws don't retract when they run.</p>
        <p class="prg" id="pg4">Gorillas are herbivorous, predominantly ground-dwelling great apes that inhabit the tropical forests of equatorial Africa.It's young one is called an infant.Gorillas have hands and feet like humans including opposable thumbs and big toes.
            Some gorillas in captivity have learned to use sign language to communicate with humans.Gorillas live in small groups called troops or bands.Gorillas live around 35 years. ...They sleep at night in nests.</p>
        <p class="prg" id="pg5">Rabbits are meticulously clean animals and are easy to house break and train.There young ones are called bunnies.Much like a dog, a pet rabbit can be taught to come to his/her name, sit in your lap, and do simple tricks. Happy rabbits practice a cute behavior known as a “binky:” they jump up in the air and twist and spin around!</p>
        <p class="prg" id="pg6">A dove is a calm and an attractive bird because of there color and it's young one is called a squarb.Like all birds, Mourning Doves are unable to sweat, so to stay cool during hot weather … they pant just like a dog. Doves are one of the few species of birds that drink by sucking up their water instead of taking a bill full of water and letting it trickle down their throat.</p>
    </div>
    <footer>Copyright</footer>
</body>
</html>
